{{ partial "head" . }}
  <body>
    <div class="header-and-content">
      {{ partial "header" . }}
      <section class="content">
        <section class="introduction">
          <img src="{{ .Site.BaseURL }}img/worker.svg">
        </section>
        <article class="max-width">
          <h2>404 Страница не найдена</h2>
          <p>Нам очень жаль, но кажется мы потеряли эту странцу.</p>
          <p>Пожалуйста пройдите на <a href="{{ .Site.BaseURL }}">главную страницу</a>. Возможно вы найдете то, что ищете.</p>
        </article>
      </section>
    </div>
    {{ partial "footer" . }}
  </body>
</html>
